Project_12_RAG_LangFlow/03_Advanced_RAG_Flow/advanced_rag_n8n_flow.json
{
    "name": "Advanced RAG with Reranking",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "advanced-rag",
                "responseMode": "lastNode"
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "content": "Write a short passage (2-3 sentences) that would answer this question. This hypothetical answer will be used for better semantic search retrieval.\n\nQuestion: {{ $json.body.query }}"
                        }
                    ]
                },
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "hyde-rewrite",
            "name": "HyDE Query Rewrite",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                400,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {
                    "temperature": 0
                }
            },
            "id": "openai-chat",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                500,
                500
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "name": "qa_knowledge_base",
                "description": "Search the QA knowledge base for test documentation. Returns top relevant results."
            },
            "id": "vector-store-tool",
            "name": "Vector Store Retriever",
            "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
            "typeVersion": 1,
            "position": [
                700,
                500
            ]
        },
        {
            "parameters": {
                "pineconeIndex": "qa-knowledge-base",
                "options": {
                    "pineconeNamespace": "advanced-rag"
                }
            },
            "id": "pinecone-store",
            "name": "Pinecone Vector Store",
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1,
            "position": [
                700,
                700
            ],
            "credentials": {
                "pineconeApi": {
                    "id": "YOUR_PINECONE_CREDENTIAL_ID",
                    "name": "Pinecone API"
                }
            }
        },
        {
            "parameters": {
                "model": "text-embedding-3-small"
            },
            "id": "openai-embeddings",
            "name": "OpenAI Embeddings",
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1,
            "position": [
                900,
                700
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "url": "https://api.cohere.ai/v1/rerank",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_COHERE_API_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "rerank-english-v3.0"
                        },
                        {
                            "name": "top_n",
                            "value": "4"
                        }
                    ]
                }
            },
            "id": "cohere-rerank",
            "name": "Cohere Rerank API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                300
            ],
            "notes": "Optional: Call Cohere Rerank API to reorder results. Configure with your Cohere API key."
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.output }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1100,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "HyDE Query Rewrite",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HyDE Query Rewrite": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Cohere Rerank API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Vector Store Retriever": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Vector Store": {
            "ai_vectorStore": [
                [
                    {
                        "node": "Vector Store Retriever",
                        "type": "ai_vectorStore",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Embeddings": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Vector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Cohere Rerank API": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "description": "Advanced RAG with HyDE query rewriting, vector retrieval, and Cohere re-ranking"
    }
}